body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.button:hover {
    background-color: #0099ff;
}

/* Адаптивный дизайн для телефонов */
@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    .button {
        font-size: 14px;
        padding: 8px 16px;
    }
}